/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
   background-image: url('https://torange.biz/photofx/157/8/mirror-blur-frame-beer-157713.jpg');
   background-repeat: repeat;
   background-size: cover;
}
#actions {
   color: black;
 }
.form, input, label {
  color: black;
  font-weight: 800;
  font-size: 1rem;
}
.log_in {
  margin-top: 10rem;
  color: #ffffff;
  display: grid;
}
a:link{
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px #000000
}
a:visited{
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px #000000
}
.field_div {
  margin-top: 14rem;
  color: #ffffff;
}
.field {
  color: white;
  font-weight: 800;
}
.sign_up {
  margin-top: 3rem;
  margin-left: 2rem;
  font-style: italic;
  color: #ffffff;
  font-size: 4rem;
}
.top-bar {
  background-image: url('');
}
.Cheers{
  font-size: 8rem;
  font-family: 'Fascinate Inline', cursive;
  color: #A85826;
  margin-left: 50rem;
}
.classy{
  font-size: 3rem;
  font-family: 'Fascinate Inline', cursive;
  color: #A85826;
  margin-left: 40rem;
  text-shadow: 2px 2px #000000;
}
.reviewTitle{
  font-size: 4rem;
  font-family: 'Fascinate Inline', cursive;
  color: #000000;
  margin-left: 33rem;
  margin-top: 25rem;
  text-shadow: 2px 2px #000000;
}
.beerTile {
  border: 1px solid white;
  color: white;
  border-radius: 2rem;
  margin: 1rem;
  padding-left: 2rem;
  text-shadow: 2px 2px #000000

}
.beerTiles {
  -webkit-column-rule-width: 2px;
  margin-top: 1rem;
  color: white
}

p {
  color: white
}

h1 {
  color: white
}
.reviewForm{
  margin-top: 20rem;
  font-style: italic;
  color: red;
  font-size: 1rem;
}
.submitButton{
  color: black;
}
.forgotPassForm{
  margin-top: 3rem;
  margin-left: 2rem;
  font-style: italic;
  color: #ffffff;
  font-size: 4rem;
}
