.submit-button {
  color: black;
}

.forgot-pass-form {
  margin-top: 3rem;
  margin-left: 2rem;
  font-style: italic;
  color: #ffffff;
  font-size: 4rem;
}
.field {
  color: white;
  font-weight: 800;
}

.field label {
  color: white;
  text-shadow:
    1px 1px #000000,
    1px -1px #000000,
    -1px 1px #000000,
    -1px -1px #000000;
  font-size: 2rem;
}
.sign_up {
  margin-left: 2rem;
  color: #ffffff;
  font-size: 4rem;
  text-shadow: 2px;
}
.log_in {
  color: #ffffff;
  display: grid;
}

.log_in label {
  color: white;
  text-shadow:
    1px 1px #000000,
    1px -1px #000000,
    -1px 1px #000000,
    -1px -1px #000000;
  font-size: 2rem;
}
#actions {
   color: black;
 }
.form, input, label {
  color: black;
  font-weight: 800;
  font-size: 1rem;
}
.field_div {
  color: #ffffff;
}
