.review-form{
  color: red;
  font-size: 1rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.review-form label{
  color: white;
  text-shadow:
    1px 1px #000000,
    1px -1px #000000,
    -1px 1px #000000,
    -1px -1px #000000;
  font-size: 2rem;
}

.add-a-review{
  margin-left: 10rem;
  text-shadow: 2px 2px black;
}

.add-review-link{
  -moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #6e686e));
	background:-moz-linear-gradient(top, #ededed 5%, #6e686e 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #6e686e 100%);
	background:-o-linear-gradient(top, #ededed 5%, #6e686e 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #6e686e 100%);
	background:linear-gradient(to bottom, #ededed 5%, #6e686e 100%);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#111314;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:17px 60px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  width: 33%;
  margin-left: 33%;
  text-align: center;
}

.submit-button {
  -moz-box-shadow: 3px 4px 0px 0px #899599;
-webkit-box-shadow: 3px 4px 0px 0px #899599;
box-shadow: 3px 4px 0px 0px #899599;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #6e686e));
background:-moz-linear-gradient(top, #ededed 5%, #6e686e 100%);
background:-webkit-linear-gradient(top, #ededed 5%, #6e686e 100%);
background:-o-linear-gradient(top, #ededed 5%, #6e686e 100%);
background:-ms-linear-gradient(top, #ededed 5%, #6e686e 100%);
background:linear-gradient(to bottom, #ededed 5%, #6e686e 100%);
background-color:#ededed;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
border:1px solid #d6bcd6;
display:inline-block;
cursor:pointer;
color:#111314;
font-family:Arial;
font-size:12px;
font-weight:bold;
padding:5px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #e1e2ed;
margin-bottom: 5px;
}
