body {
  background-image: url('https://torange.biz/photofx/157/8/mirror-blur-frame-beer-157713.jpg');
  background-repeat: repeat;
  background-size: cover;
}

p {
 color: white
}

h1 {
 color: white
}
